apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache-php
  labels:
    app: apache-php
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apache-php
  template:
    metadata:
      labels:
        app: apache-php
    spec:
      containers:
      - name: apache-php
        image: teperwoman/apache-php
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: apache-php
spec:
  selector:
    app: apache-php
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80